.flexbox
{
    background-color: black; /*place holder bg color */ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.layer1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.layer2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.layer3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sack1
{
    margin-bottom: 30;
    background-image: url('./assets/smileidle.png');
    
    width: 200px; /* Specify the width */
    height: 280px; /* Specify the height */
    transform: scale(1);
    animation: scale-down 0.5s;
    animation-fill-mode: none;
    flex-direction: column;
}

.sack1:hover
{
    background-image: url('./assets/smilehover.png');   
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.cursor
{
    background-image: url('./assets/cursoridle.png');
    width: 256px;
    height: 256px;
    background-size: 256px 256px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;
}

.cursor:hover
{
    background-image: url('./assets/cursor.gif');
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.text
{
    background-image: url('./assets/Tool_Text_Chat.png');
    width: 256px;
    height: 256px;
    background-size: 256px 256px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;
}

.text:hover
{
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.retry
{
    background-image: url('./assets/Sdf_anim_retry-1.png');
    width: 256px;
    height: 256px;
    background-size: 256px 256px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;
}

.retry:hover
{
    background-image: url('./assets/Sdf_anim_retry.webp');
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.stickers
{
   background-image: url('./assets/Stickers_n_Decorations.png'); 
   width: 256px;
   height: 256px;
   background-size: 256px 256px;
   animation: scale-down 0.5s;
   animation-fill-mode: none;
}

.stickers:hover
{
    background-image: url('./assets/Stickers_n_Decorations_Animated.webp');
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

/*tooltip*/
.tooltip
{
    visibility: hidden;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.sack1:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

.cursor:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}


@keyframes scale-up
{
    from
    {
        transform: scale(1);
    }

    to
    {
        transform: scale(1.2);
    }
}

@keyframes scale-down {

    from
    {
        transform: scale(1.2);
    }

    to
    {
        transform: scale(1);
    }
    
}

@keyframes tipscale 
{
    from
    {
        transform: scale(0.2);
    }

    to 
    {
        transform: scale(0.9);
    }
}