:root {
    --background-color: black;
    --tooltip-bg: black;
    --tooltip-color: #fff;
}

.flexbox
{
    background-color: var(--background-color); /*place holder bg color */ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.layer1
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.layer2
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.layer3
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sack1
{
    padding-top: 20px;
    background-image: url('./assets/costume.png');
    width: 256px;
    height: 256px;
    background-size: 256px 256px;
    transform: scale(1);
    animation: scale-down 0.5s;
    animation-fill-mode: none;
    flex-direction: column;
}

.sack1:hover
{
    background-image: url('./assets/Costume.gif');   
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

.cursor
{
    background-image: url('./assets/cursoridle.png');
    width: 256px;
    height: 256px;
    background-size: 256px 256px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;
}

.cursor:hover
{
    background-image: url('./assets/cursor.gif');
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.text
{
    background-image: url('./assets/speech.png');
    width: 256px;
    height: 256px;
    background-size: 256px 256px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;
}

.text:hover
{
    background-image: url('./assets/Speech.gif');
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.retry
{
    background-image: url('./assets/Sdf_anim_retry-1.png');
    width: 256px;
    height: 256px;
    background-size: 256px 256px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;
}

.retry:hover
{
    background-image: url('./assets/Sdf_anim_retry.webp');
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.stickers
{
   background-image: url('./assets/sticker.png'); 
   width: 256px;
   height: 256px;
   background-size: 256px 256px;
   animation: scale-down 0.5s;
   animation-fill-mode: none;
}

.stickers:hover
{
    background-image: url('./assets/Stickers.gif');
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

/*tooltip*/
.tooltip
{
    visibility: hidden;
    width: 100px;
    background-color: var(--tooltip-bg);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-family: popitfont;
    font-weight: 500;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.sack1:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

.cursor:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

.stickers:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

.text:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

.retry:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

@keyframes scale-up
{
    from
    {
        transform: scale(1);
    }

    to
    {
        transform: scale(1.2);
    }
}

@keyframes scale-down {

    from
    {
        transform: scale(1.2);
    }

    to
    {
        transform: scale(1);
    }
    
}

@keyframes tipscale 
{
    from
    {
        transform: scale(0.2);
    }

    to 
    {
        transform: scale(0.9);
    }
}

@keyframes fade-in
{
    from
    {
        opacity: 0;
    }

    to
    {
        opacity: 100;
    }
}


@font-face {
    font-family: popitfont;
    src: url('./assets/Eigerdals\ Heavy.OTF');
}

@font-face {
    font-family: costumefont;
    src: url('./assets/Aracne\ Condensed\ Regular.ttf');
}


.modal-backdrop {
    animation: fade-in 0.2s;
    animation-fill-mode: forwards;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    font-family: costumefont;
    font-size: larger;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
    z-index: 1001;
  }

  .modalflexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
  }

  .modallayer1
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }

  .modallayer2
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
 
  .modallayer2:hover
  {
    cursor: pointer;
  }
  
.spacer1
{
    margin-right: 150px;
}
/*bg themes*/
.coolisland
{
    background-image: url('./assets/pc/pc1.png');
    width: 150px;
    height: 230px;
    background-size: 150px 230px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;    
}

.coolisland:hover
{
    cursor: pointer;
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.coolisland:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

.icecream
{
    background-image: url('./assets/pc/pc2.png');
    width: 150px;
    height: 230px;
    background-size: 150px 230px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;    
}

.icecream:hover
{
    cursor: pointer;
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.icecream:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

.candyjar
{
    background-image: url('./assets/pc/pc3.png');
    width: 150px;
    height: 230px;
    background-size: 150px 230px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;    
}

.candyjar:hover
{
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.candyjar:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

.forestsurprise
{
    background-image: url('./assets/pc/pc4.png');
    width: 150px;
    height: 230px;
    background-size: 150px 230px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;    
}

.forestsurprise:hover
{
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.forestsurprise:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

.slicedbread
{
    background-image: url('./assets/pc/pc5.png');
    width: 150px;
    height: 230px;
    background-size: 150px 230px;
    animation: scale-down 0.5s;
    animation-fill-mode: none;    
}

.slicedbread:hover
{
    animation: scale-up 0.5s;
    animation-fill-mode: forwards;
}

.slicedbread:hover .tooltip
{
    visibility: visible;
    animation: tipscale 0.2s;
    animation-fill-mode: forwards;
}

